body {
  font-family: sans-serif;
}

.tetris__title {
  text-align: center; 
  font-weight: 900;
  margin-bottom: 50px;
}

.container {
  width: 500px;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  align-items: flex-start;
  grid-template-areas: 
  'game score'
  'game next';
}

.game-area {
  border: 2px solid black;
  border-top: 0;
  display: block;
}